body {
    background-image: url("/Users/stephaniemattern/Desktop/Bootstrap-Portfolio/assets/images/stripes-light.png");
}
header {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: xx-large;
    border-style: dotted;
    width: 75%;
}
form {
    width: 75%;
    background-color: lightseagreen;
    margin-top: 30px;
}
#exampleMessage {
    height: 200px;
}
footer {
    background-color: lightseagreen;
    text-align: center;
    height: 50px;
    margin-top: 30px;
    width: 100%;
    bottom: 0;
    position: fixed;
}
.content {
    margin-top: 30px;
    
}