body {
    background-image: url("/Users/stephaniemattern/Desktop/Bootstrap-Portfolio/assets/images/stripes-light.png");
}
form {
    width: 75%;
    background-color: lightseagreen;
    margin-top: 30px;
}
#exampleMessage {
    height: 200px;
}